<%= form_with(model: message2, local: true) do |form| %>
  <% if message2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message2.errors.count, "error") %> prohibited this message2 from being saved:</h2>

      <ul>
      <% message2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :message2_title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :message2_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
