<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message_test2.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message_test2.message %>
</p>

<%= link_to 'Edit', edit_message_test2_path(@message_test2) %> |
<%= link_to 'Back', message_test2s_path %>
